*.pyc
*.egg-info/
.virtualenv*/
.venv*/
*.h5
*.log
/turbo_seti/find_doppler/taylor_tree.c
/turbo_seti/find_doppler/taylor_tree.cpython-37m-x86_64-linux-gnu.so

.eggs/
.idea/
.ipynb_checkpoints/
.coverage/
test/.coverage
build/
docs/_build/

test/*.png
test/*.dat
test/*.fil
test/*.h5
