*.png
*.dat
*.fil
*.h5
*.log
*.pyc
*.egg-info/

.eggs/
.idea/
.ipynb_checkpoints/
.coverage
.virtualenv*/
.venv*/
.pytest_cache
stats_file.bin

build/
dist/
docs/_build/
exec

.coverage
htmlcov
coverage.xml
*profile.svg
