*.png
*.dat
*.fil
*.h5
*.log
*.pyc
*.egg-info/

.eggs/
.idea/
.ipynb_checkpoints/
.coverage
.virtualenv*/
.venv*/
.pytest_cache
stats_file.bin
turbo_seti/find_doppler/turbo_seti_version.py

build/
dist/
docs/_build/
exec

.coverage
htmlcov
coverage.xml